:root {
    --white: #ffffff;
    --cosmic-latte: #faf4e4;
    --cosmic-latte-dark: #ede7d9;
    --night: #121212;
    --lavender-pink: #f5b8da;
    --amaranth-pink: #e09cc3;
    --naples-yellow: #f3da61;
    --naples-yellow-dark: #e8c84d;
    --olivine: #9aab64;
    --moss-green: #808e53;
    --powder-blue: #b6caeb;
    --vista-blue: #8aa2c8;
}

@font-face {
    font-family: 'Garden Flower';
    src: 
        url('fonts/gardenflower.woff') format('woff');
        url('fonts/gardenflower.woff2') format('woff2');
}

@font-face {
    font-family: 'Josefin Sans';
    src: 
        url('fonts/josefinsans.woff') format('woff');
        url('fonts/josefinsans.woff2') format('woff2');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cosmic-latte);
}

#grid-container {
    display: grid;
    grid-template-columns: minmax(195px, 320px) 1fr ;
    background-color: var(--cosmic-latte);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 

#sidebar {
    background-color: var(--night);
    color: var(--cosmic-latte);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin-left: 35px;
    cursor: pointer;
}

.option svg {
    fill: var(--cosmic-latte);
}

.option p {
    font-family: 'Josefin Sans';
}

#logo {
    color: var(--white);
    font-family: 'Garden Flower';
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

#group1 {
    margin-top: 20px;
}

#group2 {
    margin-top: auto;
}

.option.dashboard {
    border-left: 3px solid var(--lavender-pink);
}

.option.dashboard svg {
    fill: var(--lavender-pink);
}

#dashboard {
    color: var(--lavender-pink);
}

#main-content {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr minmax(255px, 500px);
    grid-template-rows: auto auto 1fr;
    align-content: start;
}

#main-content-header {
    position: sticky;
    top: 0;
    grid-column: 1 / 3;
    z-index: 10;
    background-color: var(--cosmic-latte);
}

#header, #message {
    grid-column: auto;
    position: static;
}

#header {
    display: flex;
    align-items: center;
    padding: 25px 20px 0 35px;
}

#header svg {
    fill: var(--night);
}

#search-icon {
    background-color: var(--lavender-pink);
    border-radius: 25px;
    padding: 5px;
    margin-right: 15px;
}

#search-bar {
    background-color: #f5efdf;
    border: 1px solid var(--lavender-pink);
    border-radius: 13px;
    width: 50%;
    height: 30px;
    cursor: text;
}

#header-icons {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

#header-icons svg {
    background-color: var(--night);
    fill: var(--white);
    border-radius: 25px;
    padding: 5px;
}

#message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 35px;
    margin-top: 25px;
    box-shadow: 0px 10px 15px -6px  rgba(50, 50, 93, 0.2);
}

#margin p {
    margin: 0;
}

#greeting {
    font-family: 'Garden Flower';
    font-size: 2.5rem;
    color: var(--night);
    margin: 0;
}

#greeting-message {
    font-family: 'Josefin Sans';
    font-size: 1rem;
    color: var(--night);
    margin-top: 8px;
    margin-bottom: 8px;
}

#courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-column: 1 / 2;
    gap: 15px;
    padding: 35px 0 35px 35px;
}

#courses .course-name {
    font-family: 'Josefin Sans';
    font-size: 2rem;
    color: var(--night);
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

#courses .course-name + p {
    font-family: 'Josefin Sans';
    font-size: 0.9rem;
    color: var(--night);
    margin: 0 20px 0 20px;
    text-align: left;
} 

.course {
    border-radius: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

#cmsc-110, #cmsc-192 {
    background-color: var(--naples-yellow);
    border-left: 12px solid var(--naples-yellow-dark);
}

#cmsc-124, #cmsc-194 {
    background-color: var(--lavender-pink);
    border-left: 12px solid var(--amaranth-pink);
}

#cmsc-128 {
    background-color: var(--olivine);
    border-left: 12px solid var(--moss-green);
}

#cmsc-142 {
    background-color: var(--powder-blue);
    border-left: 12px solid var(--vista-blue);
}

#right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
}

#announcements, #online-users {
    grid-column: auto;
}

#announcements-container, #online-users-container{
    display: flex;
    flex-direction: column;
    background-color: var(--cosmic-latte-dark);
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

#announcements-container {
    align-items: center;
}

.title {
    font-family: 'Josefin Sans';
    font-size: 2.6rem;
    color: var(--night);
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.announcement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--olivine);
    padding-bottom: 10px;
    padding-top: 10px;
}

.announcement.bottom {
    border-bottom: none;
}

.content, .headline {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Josefin Sans';
}

.headline{
    font-size: 1.2rem;
    font-weight: 900;
}

.content{
    font-size: 0.8rem;
}

#online-users-container {
    align-items: flex-start;
    gap: 8px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.user-info p {
    margin: 0;
    font-family: 'Josefin Sans';
    font-size: 0.8rem;
}

.user svg {
    fill: var(--night);
    border-radius: 50%;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
}

#online-users-container .user:nth-child(1) svg {
    background-color: var(--powder-blue);
}

#online-users-container .user:nth-child(2) svg {
    background-color: var(--olivine);
}

#online-users-container .user:nth-child(3) svg {
    background-color: var(--lavender-pink);
}
